@import "../../styles/variables";

.performance {
  padding: 24px;
  margin: 16px 24px 24px 24px;
  background: #ffffff;
  border: 2px solid #f8fafd;
  border-radius: 4px;

  .lineChart {
    // max-width: 518px;
    margin-bottom: 62px;
  }

  p:first-child {
    color: $color-black-2;
    @include typeface-medium-14;
    padding-bottom: 14px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 16px;
  }

  .charts {
    display: flex;
    gap: 24px;

    h3 {
      color: $color-grey-4;
      @include typeface-regular-12;
    }

    p {
      color: $color-black-1;
      @include typeface-medium-15;
    }
    ul {
      position: relative;
      li {
        &::before {
          content: "";
          height: 6px;
          width: 6px;
          border-radius: 40px;
          background-color: #b8e0db;
          position: absolute;
          left: -6px;

          transform: translate(-6px, 15px);
          // transform: translateY(-6px);
        }
      }
    }

    .tradeCount {
      li:first-child {
        margin: 16px 0;
      }
    }

    .hitCount {
      li:first-child {
        margin-bottom: 16px;
      }
    }
  }

  .trades,
  .hitRatio {
    display: flex;
    gap: 28px;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .performance {
    margin: 16px auto 24px auto;
    .lineChart {
      margin: 0 auto 64px auto;
    }
    .charts {
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 768px) {
  .performance {
    padding: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);

    .charts {
      flex-direction: column;
      gap: 16px;
    }

    .trades,
    .hitRatio {
      gap: 44px;
    }
  }
}
