@import "../../styles/common";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;

  .logo {
    margin-right: 16px;
  }

  .toggleMenu {
    display: none;
  }

  .logoIndiceWrapper {
    display: flex;
    align-items: center;
  }

  .indices {
    display: flex;
    gap: 8px;
    @include typeface-medium-16;

    p:first-child {
      color: $color-black-0;
    }
    p:nth-child(2) {
      color: #2ab070;
    }
    p:last-child {
      color: rgba(0, 0, 0, 0.4);
    }
  }
  .nifty {
    margin-right: 16px;
    padding: 14px 16px 14px 0;
    border-right: 0.7px solid rgba(0, 0, 0, 0.1);
  }

  .quickNav {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    margin-right: 24px;

    img {
      cursor: pointer;
    }
  }
  .wallet {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .navbarDropdown {
    padding-top: 4px;
    .ant-select-selector {
      border: none !important;
      color: $color-black-0;
      font-size: 15px !important;
    }
    .ant-select-selection-item {
      padding-right: 0 !important;
    }
  }
}

@media (max-width: 1200px) {
  .navbar {
    .curveArrow {
      display: none;
    }
    .help {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    height: 60px;
    .toggleMenu {
      display: block;
      margin-left: 15px;
    }

    .logo {
      display: none;
    }
    .indices {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .quickNav {
      margin-right: 16px;
      gap: 16px;
    }
  }
}
